@model ABCEnterprisePart1.Models.Order

@{
    ViewData["Title"] = "Details";
}


<h2 style="font-family: 'Didot', serif; font-size: 2rem; letter-spacing: 2px; font-weight: 400;" class="text-center mb-4">
    Details
</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
       
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
